## Pair-Trading 전략 구현을 위한 기본 setting
- 1) os, numpy, pandas, matplotlib, matplotlib.pyplot 라이브러리 import
- 2) 엑셀 파일로 된 raw data 불러와서 dataframe 형태로 저장
- 3) 전체 기간에 na 값 있는 종목들은 drop (dropna)
- 4) 종목코드(key)와 종목명(value)을 dictionary로 저장함
- 5) 기간에 따라 train 데이터와 test 데이터로 나눔

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 현재 setting 파일이 있는 폴더 경로 + '1_RawData' 폴더를 경로로 설정
raw_path = os.path.abspath(os.path.join(os.getcwd(), '1_RawData'))


# Raw 데이터 엑셀 파일을 변수 선언
# train 데이터: 2015/01/02 ~ 2017/12/28 KOSPI 769개 종목 수정주가/수익률 (Frequency=일간)
# test 데이터: 2018/01/02 ~ 2018/12/28 KOSPI 769개 종목 수정주가/수익률 (Frequency=일간)
wb_all = pd.ExcelFile(raw_path + '/All_KOSPI_Daily_20150102~.xlsx')


# train 데이터와 test 데이터 각각의 수정주가, 수익률을 df형태로 저장
# 종목코드를 header로 하고 날짜를 index로 함
all_price = wb_all.parse('Comp_price',index_col=0, header =7, skiprows= range(9,14)) 
all_return = wb_all.parse('Comp_return',index_col=0, header =7, skiprows= range(9,14)) 


# 해당 기간에 na값 있는 종목들 전부 제거
all_price = all_price.dropna(axis = 1)
all_return = all_return.dropna(axis = 1)


# 종목명과 종목코드 dictionary로 만듬
dic_code_name = {}
dic_code_name = dict(zip(all_price.keys(),all_price.iloc[0]))

In [2]:
# 종목명 적혀있는 index 드랍함. 위에서 종목코드와 종목명 매칭한 이유
# 데이터 가공 편하게 하기 위함. 
if 'Name' in all_price.index:
    all_price = all_price.drop("Name",0)
if 'Name' in all_return.index:
    all_return = all_return.drop("Name",0)

In [4]:
all_return.head()

,A000020,A000040,A000050,A000060,A000070,A000080,A000100,A000120,A000140,A000150,...,A175330,A180640,A181710,A183190,A185750,A192400,A192820,A200880,A204320,A900140
Code,,,,,,,,,,,,,,,,,,,,,
2014-12-30 00:00:00,-1.94,5.29,0,2.05,-0.99,-0.43,-1.45,3.16,0,-1.43,...,0.66,2.33,-0.34,5.19,0,-1.66,0.2,3.77,0.27,2.62
2015-01-02 00:00:00,-0.72,0.97,3.02,1.2,0.11,-2.8,-0.29,-4.34,-2.05,-1.93,...,-1.48,1.79,6.17,0.41,-1.07,0,1.3,-1.09,-0.55,-3.32
2015-01-05 00:00:00,-0.54,0.96,-1.07,-1.59,-1.23,1.99,-0.59,-2.67,-1.26,0.49,...,-0.17,1.12,1.61,-1.23,0.77,0,-1.29,-2.94,-0.27,-0.79
2015-01-06 00:00:00,-0.55,-0.95,-2.96,1.21,0.9,-1.74,-0.6,-0.55,-0.42,-1.96,...,-0.17,-1.42,-3.18,-0.41,1.08,-2.81,0.1,1.14,-1.65,-5.85
2015-01-07 00:00:00,1.28,-1.44,-2.5,0.4,-1.56,0.22,-0.9,1.1,-0.43,1.5,...,-1.34,0.64,0,0,-1.98,4.05,-0.5,4.49,-0.84,-2.26

In [5]:
# train_price = all_price[pd.DatetimeIndex(train_all.index).year == 2015].astype('float64')
train_return = pd.DataFrame(all_return, index = periods)
all_price[pd.date_range(start='2015-01-02', end = '2017-12-28')]

# test_price
# test_return

KeyError: "DatetimeIndex(['2015-01-02', '2015-01-03', '2015-01-04', '2015-01-05',\n               '2015-01-06', '2015-01-07', '2015-01-08', '2015-01-09',\n               '2015-01-10', '2015-01-11',\n               ...\n               '2017-12-19', '2017-12-20', '2017-12-21', '2017-12-22',\n               '2017-12-23', '2017-12-24', '2017-12-25', '2017-12-26',\n               '2017-12-27', '2017-12-28'],\n              dtype='datetime64[ns]', length=1092, freq='D') not in index"

In [21]:
# 기간 별로 price와 return 데이터 dataframe으로 만들
# 2015~2017년: train 데이터, 2018년: test 데이터
price_2015 = train_price[pd.DatetimeIndex(train_price.index).year == 2015].astype('float64')
price_2016 = train_price[pd.DatetimeIndex(train_price.index).year == 2016].astype('float64')
price_2017 = train_price[pd.DatetimeIndex(train_price.index).year == 2017].astype('float64')
# price_2018 = test_price[pd.DatetimeIndex(test_price.index).year == 2018].astype('float64')

return_2015 = train_return[pd.DatetimeIndex(train_return.index).year == 2015].astype('float64')
return_2016 = train_return[pd.DatetimeIndex(train_return.index).year == 2016].astype('float64')
return_2017 = train_return[pd.DatetimeIndex(train_return.index).year == 2017].astype('float64')
# return_2018 = test_return[pd.DatetimeIndex(train_return.index).year == 2018].astype('float64')

In [31]:

price_2015 = train_price[pd.DatetimeIndex(train_price.index).year == 2015].astype('float64')
# price_2016 = train_price[pd.DatetimeIndex(train_price.index).year == 2016].astype('float64')
# price_2017 = train_price[pd.DatetimeIndex(train_price.index).year == 2017].astype('float64')

In [ ]:
# 불러온 library, 선언한 변수들 description